<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Dejar pasar archivos y directorios existentes
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Redirigir el resto al index (SPA React)
  RewriteRule . /index.html [L]
</IfModule>
